{% extends "hyde/templates/index.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
<meta name="author" content="Logan Collins">
<meta name="description" content="{{section.description}}">
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-128176507-1', 'auto');
  // Replace the following lines with the plugins you want to use.
  ga('require', 'cleanUrlTracker', {
    stripQuery: true,
    trailingSlash: 'remove',
  });
  ga('require', 'eventTracker', {});
  ga('require', 'maxScrollTracker', {});
  ga('require', 'outboundLinkTracker', {});
  ga('require', 'urlChangeTracker', {});
  ga('require', 'pageVisibilityTracker', {sendInitialPageview: true});
  // using `pageVisibilityTracker` instead
  // ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<!-- <script async src="/js/at.js"></script> -->
{% endblock extra_head %}

{% block sidebar_about %}
{% include "sidebar_fragment.html" %}
{% endblock sidebar_about %}

{% import "macros.html" as macros %}

{% block content %}
{{ macros::navigator(components=[]) }}
<div>
  {{ section.content | safe }}
</div>
<!-- {{__tera_context}} -->
{% endblock content %}
